
VUE_APP_CT_PROJECT_KEY=
VUE_APP_CT_CLIENT_ID=
VUE_APP_CT_CLIENT_SECRET=
VUE_APP_CT_SCOPE=
VUE_APP_CT_AUTH_HOST=
VUE_APP_CT_API_HOST=

VUE_APP_CT_PSPAUTH_FIELD_ID=
VUE_APP_CT_SOCIALCODE_FIELD_ID=
VUE_APP_GOOGLE_AUTH_CLIENT_ID=
VUE_APP_FACEBOOK_APP_ID=

PORT="8081"
ADYEN_API_KEY=
ADYEN_MERCHANT_ACCOUNT=
ADYEN_CLIENT_KEY=
ADYEN_HMAC_KEY=
MJ_APIKEY_PUBLIC=
MJ_APIKEY_PRIVATE=
NLP_API=


